/* Style desktop */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #d45179;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1000;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

section {
    background-color: #d45179;
}

navbar {
    background-color: #f4e5e5;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navbar::after {
    background-color: #d45179;
}

#logo {
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

#logo img {
    width: 100px;
    height: auto;
    flex-shrink: 1;
}

#logo a {
    font-weight: 400;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
}

#searchContainer {
    width: 40%;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #fff;
}

#searchContainer .form-control {
    padding-left: 20px;
    height: 40px;
    border-radius: 10px;
}

#searchContainer .form-control::placeholder {
    color: #9e9a9a;
}

#searchInput:active,
#searchInput:focus {
    outline: none;
}

#menu a {
    color: #1f1c1c;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px; /* spacing between menu items */
}

#navbarMobile {
    display: none;
}

.offcanvas-header button {
    width: 200px;
    background-color: #d45179;
    border-color: #ffffff;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    transition:
        background-color 0.3s,
        transform 0.3s;
}

.offcanvas-header button:hover {
    background-color: #cd6081;
    border-color: #ffffff;
    transform: scale(1.05);
}

.offcanvas-header button:active {
    background-color: #cd6081;
    border-color: #ffffff;
    transform: scale(0.95);
}

#offcanvasExample {
    background-color: #d45179;
    color: #fff;
    width: 35vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* CSS untuk checkbox kustom */
/* input[type="checkbox"] {
    color: green;
} */

@media (max-width: 1200px) {
    #logo {
        display: flex;
    }

    #logo img {
        width: 100px;
        height: auto;
        flex-shrink: 1;
    }

    #logo a {
        font-weight: 400;
        font-size: 23px;
        font-family: "Poppins", sans-serif;
    }

    #searchContainer {
        width: auto;
        height: 40px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: #fff;
        max-width: 700px;
        min-width: 300px;
    }

    #searchContainer .form-control {
        padding-left: 20px;
        height: 40px;
        border-radius: 10px;
    }

    #searchContainer .form-control::placeholder {
        color: #9e9a9a;
    }

    #searchInput:active,
    #searchInput:focus {
        outline: none;
    }

    #menu a {
        color: #1f1c1c;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 15px; /* spacing between menu items */
    }
}

@media (max-width: 1015px) {
    #logo {
        display: flex;
    }

    #logo img {
        width: 100px;
        height: auto;
        flex-shrink: 1;
    }

    #logo a {
        font-weight: 400;
        font-size: 23px;
        font-family: "Poppins", sans-serif;
    }

    #searchContainer {
        width: auto;
        height: 40px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: #fff;
        max-width: 700px;
        min-width: 200px;
    }

    #searchContainer .form-control {
        padding-left: 20px;
        height: 40px;
        border-radius: 10px;
    }

    #searchContainer .form-control::placeholder {
        color: #9e9a9a;
    }

    #searchInput:active,
    #searchInput:focus {
        outline: none;
    }

    #menu a {
        color: #1f1c1c;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 15px; /* spacing between menu items */
    }
}

@media (max-width: 992px) {
    #navnya {
        display: none;
    }

    #navbar {
        padding: 0%;
    }

    #navbarMobile {
        display: block;
    }

    #navbarMobileAtas {
        display: flex;
        /* background-color: aquamarine; */
        padding-top: 10px;
    }

    #sidebar {
        display: flex;
    }

    #siderbarcon {
        display: flex;
        align-items: center;
    }

    #sidebar img {
        width: 30px;
        cursor: pointer;
    }

    #logoMobile img {
        width: 70px;
        height: auto;
    }

    #searchMobile {
        display: flex;
    }

    #searchcon {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    #searchContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search {
        width: 100%;
    }

    #searchMobile img {
        width: 35px;
    }

    #navbarMobileBawah {
        justify-content: center;
        padding: 0%;
    }

    #menu {
        display: flex;
        justify-content: space-around;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
    }

    #offcanvasSearch {
        height: 50vh;
        background-color: transparent;
        color: #ffffff;
        right: 0%;
    }

    #searchContainerMobile {
        display: flex;
        height: 40px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: #fff;
        margin: 0px 19px;
    }
    
    #searchContainerMobile .form-control {
        /* padding-left: 20px; */
        height: 40px;
        border-radius: 10px;
    }
}

@media (max-width: 768px) {
    #navnya {
        display: none;
    }

    #navbar {
        padding: 0%;
    }

    #navbarMobile {
        display: block;
    }

    #navbarMobileAtas {
        display: flex;
        /* background-color: aquamarine; */
        padding-top: 10px;
    }

    #siderbarcon {
        display: flex;
        align-items: center;
    }

    #sidebar img {
        width: 30px;
        cursor: pointer;
    }

    #logoMobile img {
        width: 70px;
        height: auto;
    }

    #searchMobile {
        display: flex;
    }

    #searchcon {
        justify-content: center;
        align-items: center;
    }

    #searchMobile img {
        width: 35px;
    }

    #navbarMobileBawah {
        justify-content: center;
        padding: 0%;
    }

    #menu {
        display: flex;
        justify-content: space-around;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
    }

    /* navbar end, sidebar start */
}

@media (max-width: 480px) {
    #navnya {
        display: none;
    }

    #navbar {
        padding: 0%;
    }

    #navbarMobile {
        display: block;
    }

    #navbarMobileAtas {
        display: flex;
        /* background-color: aquamarine; */
        padding-top: 10px;
    }

    #sidebar {
        display: flex;
    }

    #siderbarcon {
        display: flex;
        align-items: center;
    }

    #sidebar img {
        width: 30px;
        cursor: pointer;
    }

    #logoMobile img {
        width: 70px;
        height: auto;
    }

    #searchMobile {
        display: flex;
    }

    #searchcon {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    #searchMobile img {
        width: 35px;
    }

    #navbarMobileBawah {
        justify-content: center;
    }

    /* navbar end, sidebar start */
}
