@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    background-color: #d45179;
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #d45179;
}

#gambar {
    color: #ffffff;
    max-width: 500px;
    padding: 0%;
    margin-left: 50px;
}

.id-hidden {
    display: none;
}

#isi {
    color: #ffffff;
    margin-right: 10px;
    font-family: "Poppins", sans-serif;
    padding: 0px 20px;
}

#isi h1 {
    padding: 0%;
    margin-block-end: 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 36px;
}

#isi h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 31px;
}

/* Ganti warna fill dari path di dalam SVG */
#svg-nama .svg-path {
    fill: #ffffff; /* Ganti dengan warna yang diinginkan */
}

#buttonWA {
    color: #ffffff;
    background-color: #60d669;
    width: 250px;
    border-radius: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    transition:
        background-color 0.3s,
        transform 0.3s;
}

.text-start {
    text-align: left;
    margin: 0;
}

/* Ganti warna fill dari path di dalam SVG */
#svg-nama .svg-path {
    fill: #ffffff; /* Ganti dengan warna yang diinginkan */
}

#hapusProduk {
    background-color: #751f1f;
    border: none;
    text-decoration: none;
    color: #ffffff;
}

#confirmHapus {
    color: black;
}

@media (max-width: 992px) {
    section .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gambar {
        width: 100%;
        display: flex;
        margin: 0%;
        max-width: 400px;
        padding: 0%;
    }
    section {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #isi {
        margin-top: 10px;
        padding: 0px 20px;
    }

    #isi .nama,
    h2 {
        text-align: center;
    }
}

@media (max-width: 835px) {
    section .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gambar {
        width: 100%;
        display: flex;
        margin: 0%;
        max-width: 400px;
        padding: 0%;
    }
    section {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #isi {
        margin-top: 10px;
        padding: 0px 20px;
    }

    #isi .nama,
    h2 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    section .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gambar {
        width: 100%;
        display: flex;
        margin: 0%;
        max-width: 300px;
        padding: 0%;
    }
    section {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #isi {
        margin-top: 10px;
        padding: 0px 20px;
    }

    #isi .nama,
    h2 {
        text-align: center;
    }
}

@media (max-width: 480px) {
    section .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gambar {
        width: 100%;
        display: flex;
        margin: 0%;
        max-width: 300px;
        padding: 0%;
    }
    section {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    #isi {
        margin-top: 10px;
    }

    #isi .nama,
    h2 {
        text-align: center;
    }
}
