@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-color: #d45179;
}
/* ---------- Navbar Start ----------*/


/* ---navbar end, isi start--- */

section {
    margin: 0%;
    padding: 0%;
}

#perbaikiRow {
    display: flex;
    flex-wrap: wrap;
}

#filter {
    max-width: 17%;
    color: #ffffff;
    position: fixed;
    width: 100%;
    padding: 0%;
    margin: 0%;
    min-height: 100vh;
    z-index: 1;
    /* background-color: #17a2b8; */
}

#filter button {
    width: 180px;
    background-color: #d45179;
    border-color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    transition:
        background-color 0.3s,
        transform 0.3s;
}

#filter button:hover {
    background-color: #cd6081;
    transform: scale(1.05);
}

#filter button:active {
    background-color: #cd6081;
    transform: scale(0.95);
}

#filter h5 {
    font-size: 17px;
    padding-left: 15%;
    padding-right: 0%;
    padding-top: 10px;
}

#filter li {
    padding-left: 30%;
}

.harga {
    width: 200px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;
    box-shadow: 0 35px rgba(0, 0, 0, 0.1);
}

#filter ul{
    padding-bottom: 25      px;
}

.price-input {
    width: 100%;
    display: flex;
    padding-left: 50px;
}

.price-input .field {
    width: 70%;
    height: 7%;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #ffffff;
    margin-bottom: 10px;
    background: #ddd;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    display: flex;
}

.slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* -- Isi katalog -- */

#katalog {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-block-end: 0%;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 17%;
    padding-top: 10px;
}

#perbaiki {
    padding: 0%;
    margin: 0%;
}

#perbaikiRow {
    padding: 0%;
    margin: 0%;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    text-align: center;
}

#katalog .container {
    flex-wrap: wrap;
}

#produkCard {
    flex-grow: 1;
    flex-basis: 200;
    border: none;
    padding: 0%;
    margin: 0%;
    margin-block-end: 0%;
}

.card-img-top {
    min-height: 250px;
    max-height: 250px;
}

#isiCard {
    padding: 0%;
    min-height: 70px;
}

#katalog #nama {
    background-color: transparent;
}

#nama {
    min-height: 40px;
    max-height: 40px;
    display: flex;
    padding-top: 5px;
}

#katalog #harga {
    background-color: transparent;
    display: flex;
    min-height: 26px;
    max-height: 26px;
}

#hargaCard {
    padding-left: 0px;
    padding-right: 0px;
}

#katalog h5 {
    font-size: 18px;
    margin: auto;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
}

#katalog .short-text{
    display: none;
}

#katalog h6 {
    padding-top: 5px;

    font-size: 17px;
    margin: auto;
    font-weight: bold;
    color: #d45179;
    font-family: "Poppins", sans-serif;
}

#katalog p {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}

/* .card{
    padding-bottom: 20;
} */

@media (max-width: 1024px) {
    /* #filter {
        display: none;
    } */

    #katalog {
        padding: 0%;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 16%;
    }
    /* Atur jumlah card per baris menjadi 4 */

    /* Atur ukuran gambar dalam card */
    .card-img-top {
        min-height: 200px;
        max-height: 200px;
    }

    /* Atur layout isi card */
    #isiCard {
        padding: 10px;
        min-height: 70px;
    }

    /* Atur font-size dan ukuran struktur lainnya */
    #katalog h5 {
        font-size: 18px;
    }

    #katalog h6 {
        font-size: 17px;
    }

    #katalog p {
        font-size: 12px;
    }
}

@media (max-width: 992px) {
    #filter {
        display: none;
    }

    #katalog {
        padding: 0%;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0%;
    }
    /* Atur jumlah card per baris menjadi 4 */
    .row-cols-sm-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    /* Atur ukuran gambar dalam card */
    .card-img-top {
        min-height: 200px;
        max-height: 200px;
    }

    /* Atur layout isi card */
    #isiCard {
        padding: 10px;
        min-height: 70px;
    }

    /* Atur font-size dan ukuran struktur lainnya */
    #katalog h5 {
        font-size: 18px;
    }

    #katalog h6 {
        font-size: 17px;
    }

    #katalog p {
        font-size: 12px;
    }
}

@media (max-width: 830px){
    #katalog .long-text{
        display: none;
    }

    #katalog .short-text{
        display: block;
    }
}

@media (max-width: 768px) {
    #katalog .long-text{
        display: block;
    }

    #katalog .short-text{
        display: none;
    }
}

@media (max-width: 780px) {
    #filter {
        display: none;
    }

    #katalog {
        padding: 0%;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0%;
    }
    /* Atur jumlah card per baris menjadi 4 */
    .row-cols-sm-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    /* Atur ukuran gambar dalam card */
    .card-img-top {
        min-height: 200px;
        max-height: 200px;
    }

    /* Atur layout isi card */
    #isiCard {
        padding: 10px;
        min-height: 70px;
    }

    /* Atur font-size dan ukuran struktur lainnya */
    #katalog h5 {
        font-size: 18px;
    }

    #katalog h6 {
        font-size: 17px;
    }

    #katalog p {
        font-size: 12px;
    }
}

@media (max-width: 632px) {
    #katalog .long-text{
        display: none;
    }

    #katalog .short-text{
        display: block;
    }
}

@media (max-width: 575px) {
    #katalog .long-text{
        display: block;
    }

    #katalog .short-text{
        display: none;
    }
}

@media (max-width: 480px) {
    #filter {
        display: none;
    }

    #katalog {
        padding: 0%;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0%;
    }

    /* Atur jumlah card per baris menjadi 2 */
    .row-cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Atur ukuran card sesuai kebutuhan */
    #produkCard {
        flex-basis: calc(90% - 10px); /* Sesuaikan ukuran card */
    }

    /* Atur ukuran gambar dalam card */
    .card-img-top {
        min-height: 200px;
        max-height: 200px;
    }

    /* Atur layout isi card */
    #isiCard {
        min-height: 60px;
    }

    /* Atur font-size dan ukuran struktur lainnya */
    #katalog h5 {
        font-size: 16px;
    }

    #katalog h6 {
        font-size: 15px;
    }

    #katalog p {
        font-size: 11px;
    }
}






