@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    background-color: #f4e5e5;
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
}

section{
    background-color: #D45179;
}

/* navbar start */
nav {
    background-color: #F4E5E5;
}

#logo {
    flex-shrink: 0;
}

#logo h1 {
    color: #000;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#logo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    flex-shrink: 0;
}

#searchContainer {
    width: 40%;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #fff;
}

#searchContainer .form-control {
    padding-left: 20px;
    height: 40px;
    border-radius: 10px;
}

#searchContainer .form-control::placeholder {
    color: #9e9a9a;
}

#searchInput:active,
#searchInput:focus {
    outline: none;
}

#buttonBaru{
    background-color: #D45179;
    border: none;
}

#menu a {
    color: #1f1c1c;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* navbar end, isi start*/

#gambar-tabel{
    width: 10vh;
    height: 10vh;
}

.table td {
    background-color: #eae7e7;
}

.table .checknya {
    padding-left: 20px;
}

.id-hidden{
    display: none;
}



#confirmAddButton{
    background-color: #D45179;
    border: none;
}

#buttonPerbarui{
    background-color: #D45179;
    border: none;
}

#buttonHapus{
    background-color: #DC3545;
    border: none;
}

textarea {
    resize: vertical; /* Hanya memungkinkan perubahan ukuran secara vertikal */
}

/* Mengatur input agar lebar menyesuaikan kontainer */
input[type="text"], input[type="number"] {
    width: 100%;
}
