@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    background-color: #F4E5E5;
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
}

section{
    background-color: #F4E5E5;
}

/* Navbar start */

.navbar, #isiNavbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
}

.navbar{
    padding: 0px 5%;
    background-color: #F4E5E5;
}

#logo {
    flex-shrink: 1;
    display: flex;
    align-items: center;
}

#logo img {
    width: 100px;
    height: auto;
}

#isiNavbar a{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 23px;
}


#searchContainer {
    width: 80%;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #fff;
    padding: 0;
    /* margin-left: 0%; */
}

#searchContainer .form-control {
    padding-left: 20px;
    height: 40px;
    border-radius: 10px;
}

#buttonBaru {
    background-color: #D45179;
    border: none;
    margin-right: 30px;
}

#offcanvasExample{
    background-color: #E8BFBF;
    height: 20%;
    /* margin-top: 80px; */
    border-bottom-left-radius: 30px;
    width: 35vh;

}

#buttonLogOut {
    background-image: linear-gradient(90deg, #E24D39, #C85343);
    border: none; /* Menghapus border bawaan */
    width: 200px;
    color: white; /* Pastikan teks tetap terlihat */
}

#buttonLogOut:hover {
    background-image: linear-gradient(90deg, #E24D39, #C85343); /* Mengubah arah gradien saat hover */
}


/* Navbar end */


#gambar-tabel{
    width: 10vh;
    height: 10vh;
}

.table td {
    background-color: #eae7e7;
}

.table .checknya {
    padding-left: 20px;
}

.id-hidden{
    display: none;
}



#confirmAddButton{
    background-color: #D45179;
    border: none;
}

#buttonPerbarui{
    background-color: #D45179;
    border: none;
}

#buttonHapus{
    background-color: #DC3545;
    border: none;
}

textarea {
    resize: vertical; /* Hanya memungkinkan perubahan ukuran secara vertikal */
}

/* Mengatur input agar lebar menyesuaikan kontainer */
input[type="text"], input[type="number"] {
    width: 100%;
}

@media (max-width: 480px) {

}
